{% extends 'header.html' %}
{% block title %}Contact Us{% endblock %}
{% block body %}

<main>
    <section class="about-section">
        <h2>Who are we?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam lorem ac dui interdum, vel
            bibendum
            eros ultricies. In eget ante lacinia, consectetur justo et, varius massa. Suspendisse potenti.
            Integer
            euismod tortor eget nibh viverra pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            aliquam lorem ac dui interdum, vel
            bibendum
            eros ultricies. In eget ante lacinia, consectetur justo et, varius massa. Suspendisse potenti.
            Integer
            euismod tortor eget nibh viverra pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            aliquam lorem ac dui interdum, vel
            bibendum
            eros ultricies. In eget ante lacinia, consectetur justo et, varius massa. Suspendisse potenti.
            Integer
            euismod tortor eget nibh viverra pharetra.</p>
    </section>

    <section class="team-section">
        <h2>Our Team:</h2>
        <div class="team-member">
            <img src="static/devphoto.jpg" alt="Me the dev">
            <h3>Bahae</h3>
            <p>CEO, Developer of this website.</p>
        </div>
    </section>
</main>
{% endblock %}
{% include 'footer.html' %}