{% extends 'header.html' %}
{% block title %}Create your list{% endblock %}
{% block body %}
<div class="home-container">
    <h1 class="home-h1">Today is: <span class="home-date">{{ date }}</span></h1>
    <hr>
    <p class="home-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit nulla velit, quis
        consectetur eros luctus et.
        Phasellus vitae porttitor quam. Nullam urna diam, egestas eget metus semper, rhoncus sollicitudin nulla. Class
        aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam imperdiet luctus
        fermentum. Nam quis finibus tortor, sit amet pretium turpis. Nam fermentum quis urna in molestie. Nulla
        fermentum ligula facilisis erat varius, ac laoreet felis pretium. Praesent et risus dignissim, fringilla est
        sed, eleifend ipsum. Phasellus vitae libero mi. Fusce egestas feugiat sapien, nec lacinia nisi dignissim at.
        Proin ac tristique ex. Nulla facilisi. Donec ultrices vitae ex id sollicitudin.</p>
    <h2 class="home-h2">Click here to start typing your todo list:</h2>
    <a class="home-a" href="{{ url_for('signup') }}">Create Todo List</a>
</div>
{% endblock %}
{% include 'footer.html' %}
