{% set title="Todo App - Todo list" %}
{% include 'header.html' %}

<h1 class="todo-title">Type your TODO List items</h1>
<form method="post" action="{{ url_for('todo') }}">
    {{ form.csrf_token }}
    <div>
        <label class="item-label">{{ form.todo_list.label }}</label>
        {{ form.todo_list() }}
    </div>
    <div>
        {{ form.add(class="add-list") }}
    </div>
    <div>
        <a class="see-list" href="{{ url_for('success') }}">See List</a>
    </div>
</form>

<p class="user_list_todo">
    {% if items %}
    Current list:
    {% endif %}
    {% for item in items %}
        {% if item == items[len - 1] %}
            {{ item }}
        {% else %}
            {{ item }} -
        {% endif %}
    {% endfor %}
</p>


{% include 'footer.html' %}
